{%  set reviews = __SELF__.reviews %}

<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">


    <div class="row">

        {% for review in reviews %}
            {% if review.is_active == 1 %}
            <!--<h6>Created date: {{review.created_at}}</h6>-->
            <!--<h3>{{review.title}}</h3>-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up blue lighten-2">
                    </div>

                    <!--Avatar-->
                    <div class="avatar">
                        {% if review.reviewimage %}
                        <img src="{{review.reviewimage.thumb(150,150, {'mode':'crop'})}}" class="rounded-circle img-responsive">
                        {% else %}
                        <img src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" class="rounded-circle img-responsive">
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <!--Name-->
                        <h4 class="card-title mt-1">{{review.author}}</h4>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> {{review.content|raw}} </p>
                    </div>

                </div>
                <!--Card-->

            </div>
            <!--Grid column-->
            {% endif %}
        {% endfor %}


    </div>

</section>
<!--Section: Testimonials v.1-->